{% extends 'base.html' %}

{% block page-title %}Password reset? Mail sent!{% endblock %}

{% block title %}<h3 class="muted">Password reset? Mail sent!</h3>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
</div>
{% endblock %}
