<table class="month-calendar table table-condensed table-bordered" id="{{ calendar_id }}">
  <thead>
    {{ calendar_header|safe }}
    {{ calendar_week_header|safe }} 
  </thead>
  <tbody>
    {% for week in weeks %}
    <tr>
      {% for day in week %}
        <td class="{% if day.0 == 0 %}{{ noday_css_class }}{% else %}{% if day.0 == today %}{{ today_css_class }} {% endif %}{% if day.0 in holidays %}{{ holidays_css_class }}{% endif %}{% endif %}">{% if day.0 != 0 %}{{ day.0 }}{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  {% if holidays_list %}
  <caption align="bottom">
    <dl class="dl-horizontal">
    {% for holiday in holidays_list %}
      <dt class="text-info">{{ holiday.day|stringformat:".2d" }}/{{ holiday.month|stringformat:".2d" }}/{% if holiday.is_fixed %}{{ year }}{% else %}{{ holiday.year }}{% endif %}</dt>
      <dd>{{ holiday.name }}</dd>
    {% endfor %}
    </dl>
  </caption>
  {% endif %}
</table>