{% extends 'base.html' %}

{% block page-title %}Password change{% endblock %}

{% block title %}<h3 class="muted">Password change</h3>{% endblock %}

{% block content %}
{% if form.errors %}
<!-- Form Errors -->
<div class="row form-errors">
  <div class="alert alert-danger col-md-6 col-md-offset-2">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Dang!</strong> {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
  </div>
</div><!-- /.form-errors -->
{% endif %}

<!-- Password Change Form -->
<div class="row password-change-form">
  <form class="col-md-8 form-horizontal" method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <div class="form-group">
      {% if form.old_password.errors %} 
      <div class="text-danger col-md-8 col-md-offset-4">{{ form.old_password.errors }}</div>
      {% endif %}
      <label for="id_old_password" class="hidden-xs col-md-4 control-label">
        Old password
      </label>
      <div class="col-md-8">
        <input type="password" class="form-control text-center" id="id_old_password" name="old_password" placeholder="...">
      </div>
    </div>
    <div class="form-group">
      {% if form.new_password1.errors %} 
      <div class="text-danger col-md-8 col-md-offset-4">{{ form.new_password1.errors }}</div>
      {% endif %}
      <label for="id_new_password1" class="hidden-xs col-md-4 control-label">
        New password
      </label>
      <div class="col-md-8">
        <input type="password" class="form-control text-center" id="id_new_password1" name="new_password1" placeholder="...">
      </div>
    </div>
    <div class="form-group">
      {% if form.new_password2.errors %} 
      <div class="text-danger col-md-8 col-md-offset-4">{{ form.new_password2.errors }}</div>
      {% endif %}
      <label for="id_new_password2" class="hidden-xs col-md-4 control-label">
        Confirm your new password
      </label>
      <div class="col-md-8">
        <input type="password" class="form-control text-center" id="id_new_password2" name="new_password2" placeholder="...">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6 col-md-offset-4">
        <button type="submit" class="btn btn-primary col-md-12">
          {% if form.errors %}ReTRY{% else %}OK{% endif %}
        </button>
      </div>
    </div>
  </form>
</div><!-- /.password-change-form -->
{% endblock %}
